body {
    background: #cceae5;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}


.hero-container {
    position: relative;
    width: 70vw;
    max-width: 700px;
}

/* 🔵 Cara (más controlada) */
.Cara {
    width: 100%;
    margin: 0 auto;
    display: block;
}

/* 🔴 Base para los elementos encima */
.Peril,
.Trabajos {
    position: absolute;
    width: 20%;
    left: 50%;
    transform-origin: center;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

/* 🟡 Trabajos (arriba) */
.Trabajos {
    top: 69%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-20deg);
}

/* 🟢 Peril (más abajo) */
.Peril {
    top: 83%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(20deg);
}



/* Hover Trabajos */
.btn-Trabajos:hover .Trabajos {
    transform: translate(-50%, -50%) rotate(-30deg) scale(1.1);
}

/* Hover Peril ARREGLAR*/
.btn-Peril:hover .Peril {
    transform: translate(-50%, -50%) rotate(30deg) scale(1.1);
}


/* ========================= */
/* PORTAFOLIO SVG */
/* ========================= */

.portfolio-svg {
    position: absolute;

    width: 37%;

    top: 54%;
    left: 52%;

    transform: translateX(-50%);

    z-index: 10;
}

/* ========================= */
/* PROYECTOS SVG */
/* ========================= */

.proyectos-svg {
    position: absolute;

    width: 22%;

    top: 65%;
    left: 52%;

    transform: rotate(-8deg);

    z-index: 9;
}

/* ========================= */
/* SOBRE MI SVG */
/* ========================= */

.sobre-svg {
    position: absolute;

    width: 18%;

    top: 78%;
    left: 33%;

    transform: rotate(0deg);

    z-index: 9;

    transition: transform 0.3s ease;
}

/* ========================= */
/* ESTRELLAS */
/* ========================= */

.estrella {
    position: fixed;

    opacity: 0.25;

    z-index: -1;

    pointer-events: none;
}

/* Posiciones */

.estrella1 {
    width: 50px;
    top: 8%;
    left: 6%;
}

.estrella2 {
    width: 35px;
    top: 18%;
    right: 8%;
}

.estrella3 {
    width: 45px;
    top: 40%;
    left: 3%;
}

.estrella4 {
    width: 30px;
    top: 65%;
    right: 10%;
}

.estrella5 {
    width: 40px;
    bottom: 15%;
    left: 12%;
}

.estrella6 {
    width: 28px;
    bottom: 8%;
    right: 18%;
}

.estrella7 {
    width: 32px;
    top: 55%;
    left: 45%;
}

.estrella8 {
    width: 38px;
    top: 28%;
    right: 35%;
}

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.estrella2,
.estrella5,
.estrella8 {
    animation: float 4s ease-in-out infinite;
}

@media screen and (max-width: 768px) {

   /* responsive index */

}